<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <p id="footer-logo">ANNA STECKEL</p>
            <p class="email"><a href="mailto:annamsteckel@gmail.com">annamsteckel@gmail.com</a></p>
            <!-- <p>&copy; 2025</p> -->
        </div>

        <ul class="social-links">
            <li><a href="https://github.com/annamiriams" target="_blank">GitHub</a></li>
            <li><a href="https://linkedin.com/in/annasteckel" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</footer>