<!-- navbar -->

<nav>
    <div class="nav-links">

        <div class="logo-container">
            <!-- <a href="/" id="nav-logo">ANNA</a> -->
            <img src="../images/AS-logo.png" alt="">
        </div>

        <button class="hamburger" aria-label="Menu" aria-expanded="false">
            &#9776;
        </button>

        <div class="links">
            <a href="/">Home</a>
            <a href="../projects/">Projects</a>
            <a href="../about/">About</a>
            <a href="../contact/">Contact</a>
        </div>

    </div>
</nav>