<!-- navbar -->

<nav>
    <div class="nav-links">

        <div class="logo-container">
            <a href="../index.html" id="nav-logo">ANNA</a>
        </div>

        <button class="hamburger" aria-label="Menu" aria-expanded="false">
            &#9776;
        </button>

        <div class="links">
            <a href="../index.html">Home</a>
            <a href="../pages/projects.html">Projects</a>
            <a href="../pages/about.html">About</a>
            <!-- <a href="../pages/resume.html">Resume</a> -->
            <a href="../pages/contact.html">Contact</a>
        </div>

    </div>
</nav>