.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-large);
    text-align: justify;
    flex-wrap: wrap;
}

.about-content div {
    flex: 1;
    min-width: 250px;
}

.about img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-content div {
        width: 80%;
        text-align: center;
    }

    .about img {
        max-width: 60%;
    }

    .about p {
        text-align: left;
    }
}