* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    font-weight: var(--weight-body);
    font-size: var(--font-body);
    line-height: var(--spacing-large);
}

a {
    color: #023047;
    text-decoration: none;
}

section {
    padding: 4rem 0;
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1, 
h2 {
    font-size: var(--size-heading);
    margin-bottom: var(--spacing-large);
    text-align: center;
    color: #023047;
}

h3 {
    font-size: var(--size-subheading);
    margin-bottom: var(--spacing-medium);
}

#about h1,
#projects h1,
#contact h1,
#resume h1 {
    margin-bottom: 2em;
}

p {
    font-size: var(--size-body);
    margin-bottom: var(--spacing-medium);
}

/* Fading section animation base */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

/* When the element becomes visible */
.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Starting mobile-friendly... */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-content div {
        text-align: center;
    }

    .about img {
        margin-top: var(--spacing-medium);
    }
}