.button-primary {
    background-color: var(--color-link);
    color: white;
    padding: var(--spacing-small) var(--spacing-large);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: var(--font-heading);
    font-size: var(--size-button);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-large);
}
