@import url('https://use.typekit.net/zbt3znm.css');

:root {
    --font: "gill-sans-nova-condensed", sans-serif;

    --size-heading: 3.5em;
    --size-subheading: 1.8em;
    --size-body: 1.4em;
    --size-logo: 3em;
    --size-nav: 2em;
    --size-button: 1.8em;
    --size-footer: 1.2em;

    --weight-heading: 900;
    --weight-body: 400;
}