.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
    padding: var(--spacing-large);
    background-color: #f9f9f9;
    gap: var(--spacing-large);
    overflow: hidden;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 10rem;
    line-height: 1;
    font-family: var(--font-heading, sans-serif);
    color: #023047;
    margin-bottom: var(--spacing-medium);
}

.subtitle {
    font-size: var(--size-nav);
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}