.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 60px;
    height: auto;
    border-radius: 8px;
}

#nav-logo {
    font-family: var(--font-heading);
    font-size: var(--size-logo);
    font-weight: 900;
    font-style: normal;
    color: #f25d23;
    text-decoration: none;
}

#footer-logo {
    font-family: var(--font-heading);
    font-size: var(--size-heading);
    /* font-style: normal; */
    color: #f25d23;
    line-height: 1;
}