.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-logo {
    font-family: var(--font-heading);
    font-size: var(--size-heading);
    font-weight: 900;
    font-style: normal;
    color: #f25d23;
    text-decoration: none;
}

#footer-logo {
    font-family: var(--font-heading);
    font-size: var(--size-heading);
    /* font-style: normal; */
    color: #f25d23;
    line-height: 1;
}