nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: var(--spacing-medium) 0;
}

nav a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.nav-links a {
    margin: var(--spacing-small);
    font-size: var(--size-subheading);
}

.links {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}