:root {
    --color-body: black;
    --color-logo: #f25d23;
    --color-link: #023047;
    --color-background: white;

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extralarge: 6rem;
}